<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/jetilogo-2.webp" alt="logo" width="264" height="78"></a>
            <p>
                Our mission: Design, Build, & Create stunning and efficient spaces for people to live, work, and grow!
            </p>

        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Siding</li>
                    <li>Decking</li>
                    <li>Patio Covers</li>
                    <li>Pools & More!</li>
                </ul>
                <ul>
                    <li>
                        <h2>Hours</h2>
                    </li>
                    <li>
                        Mon. - Sat.
                    </li>
                    <li>
                       9:00 AM - 5:00 PM
                    </li>
                    <li>
                       Closed Sunday
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">11742 Jones Road<br>Sanger, TX 76266</a>
                    </li>
                    <li>
                        <a href="tel:940-765-6765">T: (940) 765-6765</a>
                    </li>
                    <li>
                        <a href="mailto:j@consultingjeti.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Empire Web</a>
        <span class="copyright"> Copyright 2023 - Present</span>
    </div>
</footer>